@use "spacing";

$width-content: 34.5rem;
$width-container: spacing.step-up(spacing.step-up(1rem, 9), 1, $quarter: true);
$width-full: 120rem;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$header-height: calc(2 * spacing.$base-500 + spacing.$base-600);

/// Media breakpoint wrapper
/// @param {'sm'|'md'|'lg'} $breakpoint - Media min width
/// @content
@mixin media-breakpoint($breakpoint) {
  $min-width: false;

  @if $breakpoint == sm {
    $min-width: $breakpoint-sm;
  }

  @if $breakpoint == md {
    $min-width: $breakpoint-md;
  }

  @if $breakpoint == lg {
    $min-width: $breakpoint-lg;
  }

  @if not $min-width {
    @content;
  } @else {
    @media (min-width: $min-width) {
      @content;
    }
  }
}

/// Layout container
/// @param {'container'|'full'|'content'} $width ['container'] - Max container width
@mixin container($width: container) {
  $max-width: $width-container;

  @if $width == full {
    $max-width: $width-full;
  }

  @if $width == content {
    $max-width: $width-container;
  }

  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
