@use "./colour";
@use "./spacing";

// Primitive Tokens

// Fonts

$font-body-var: --mc--type--font--body;
$font-display-var: --mc--type--font--display;

$font-body: var(--mc--type--font--body);
$font-display: var(--mc--type--font--display);

// Sizing

$size-50: spacing.step-down(1rem, 2, $quarter: true);
$size-100: spacing.step-down(1rem, 1, $quarter: true);
$size-200: 1rem;
$size-300: spacing.step-up(1rem, 1, $quarter: true);
$size-400: spacing.step-up(1rem, 2, $quarter: true);
$size-500: spacing.step-up(1rem, 2, $half: true);
$size-600: spacing.step-up(1rem, 3, $half: true);
$size-700: spacing.step-up(1rem, 4, $half: true);
$size-800: spacing.step-up(1rem, 5, $half: true);
$size-900: spacing.step-up(1rem, 6, $half: true);
$size-1000: spacing.step-up(1rem, 7, $half: true);
$size-1100: spacing.step-up(1rem, 8, $half: true);
$size-1200: spacing.step-up(1rem, 9, $half: true);

// Line Height

$height-50: 1.3;
$height-100: 1.4;
$height-200: 1.5;
$height-300: 1.5;
$height-400: 1.4;
$height-500: 1.3;
$height-600: 1.2;
$height-700: 1.2;
$height-800: 1.15;
$height-900: 1.3;
$height-1000: 1.1;
$height-1100: 1.1;
$height-1200: 1.1;

// Weight

$weight-body: 400;
$weight-medium: 500;
$weight-strong: 700;
$weight-display-1: 700;
$weight-display-2: 500;

// Semantic Tokens

// Desktop

$desktop-body-size-value: $size-200;
$desktop-body-height-value: $height-300;

$desktop-label-size-value: $size-50;
$desktop-label-height-value: $height-50;

$desktop-heading-1-size-value: $size-700;
$desktop-heading-1-height-value: $height-700;

$desktop-heading-2-size-value: $size-600;
$desktop-heading-2-height-value: $height-600;

$desktop-heading-3-size-value: $size-500;
$desktop-heading-3-height-value: $height-500;

$desktop-heading-4-size-value: $size-400;
$desktop-heading-4-height-value: $height-300;

$desktop-heading-5-size-value: $size-300;
$desktop-heading-5-height-value: $height-200;

$desktop-eyebrow-size-value: $size-100;
$desktop-eyebrow-height-value: $height-100;

$desktop-title-1-size-value: $size-900;
$desktop-title-1-height-value: $height-900;

$desktop-title-2-size-value: $size-800;
$desktop-title-2-height-value: $height-800;

$desktop-subtitle-1-size-value: $size-400;
$desktop-subtitle-1-height-value: $height-400;

$desktop-subtitle-2-size-value: $size-200;
$desktop-subtitle-2-height-value: $height-200;

$desktop-display-1-size-value: $size-1200;
$desktop-display-1-height-value: $height-1100;

$desktop-display-2-size-value: $size-1100;
$desktop-display-2-height-value: $height-1100;

// Mobile

$mobile-body-size-value: $size-200;
$mobile-body-height-value: $height-300;

$mobile-label-size-value: $size-50;
$mobile-label-height-value: $height-50;

$mobile-heading-1-size-value: $size-600;
$mobile-heading-1-height-value: $height-600;

$mobile-heading-2-size-value: $size-500;
$mobile-heading-2-height-value: $height-500;

$mobile-heading-3-size-value: $size-400;
$mobile-heading-3-height-value: $height-400;

$mobile-heading-4-size-value: $size-300;
$mobile-heading-4-height-value: $height-200;

$mobile-heading-5-size-value: $size-200;
$mobile-heading-5-height-value: $height-100;

$mobile-eyebrow-size-value: $size-100;
$mobile-eyebrow-height-value: $height-100;

$mobile-title-1-size-value: $size-800;
$mobile-title-1-height-value: $height-800;

$mobile-title-2-size-value: $size-700;
$mobile-title-2-height-value: $height-700;

$mobile-subtitle-1-size-value: $size-300;
$mobile-subtitle-1-height-value: $height-200;

$mobile-subtitle-2-size-value: $size-200;
$mobile-subtitle-2-height-value: $height-100;

$mobile-display-1-size-value: $size-800;
$mobile-display-1-height-value: $height-700;

$mobile-display-2-size-value: $size-700;
$mobile-display-2-height-value: $height-600;

// User Interface

$ui-sm-size-value: $size-100;
$ui-sm-height-value: $height-100;

$ui-md-size-value: $size-200;
$ui-md-height-value: $height-200;

$ui-lg-size-value: $size-300;
$ui-lg-height-value: $height-300;

$ui-xl-size-value: $size-400;
$ui-xl-height-value: $height-400;

// CSS Variables

$body-size-var: --mc--type--body--size;
$body-height-var: --mc--type--body--height;

$label-size-var: --mc--type--label--size;
$label-height-var: --mc--type--label--height;

$heading-1-size-var: --mc--type--heading-1--size;
$heading-1-height-var: --mc--type--heading-1--height;

$heading-2-size-var: --mc--type--heading-2--size;
$heading-2-height-var: --mc--type--heading-2--height;

$heading-3-size-var: --mc--type--heading-3--size;
$heading-3-height-var: --mc--type--heading-3--height;

$heading-4-size-var: --mc--type--heading-4--size;
$heading-4-height-var: --mc--type--heading-4--height;

$heading-5-size-var: --mc--type--heading-5--size;
$heading-5-height-var: --mc--type--heading-5--height;

$eyebrow-size-var: --mc--type--eyebrow--size;
$eyebrow-height-var: --mc--type--eyebrow--height;

$title-1-size-var: --mc--type--title-1--size;
$title-1-height-var: --mc--type--title-1--height;

$title-2-size-var: --mc--type--title-2--size;
$title-2-height-var: --mc--type--title-2--height;

$subtitle-1-size-var: --mc--type--subtitle-1--size;
$subtitle-1-height-var: --mc--type--subtitle-1--height;

$subtitle-2-size-var: --mc--type--subtitle-2--size;
$subtitle-2-height-var: --mc--type--subtitle-2--height;

$display-1-size-var: --mc--type--display-1--size;
$display-1-height-var: --mc--type--display-1--height;

$display-2-size-var: --mc--type--display-2--size;
$display-2-height-var: --mc--type--display-2--height;

$ui-sm-size-var: --mc--type--ui-s--size;
$ui-sm-height-var: --mc--type--ui-s--height;

$ui-md-size-var: --mc--type--ui-m--size;
$ui-md-height-var: --mc--type--ui-m--height;

$ui-lg-size-var: --mc--type--ui-l--size;
$ui-lg-height-var: --mc--type--ui-l--height;

$ui-xl-size-var: --mc--type--ui-xl--size;
$ui-xl-height-var: --mc--type--ui-xl--height;

$body-size: var(--mc--type--body--size);
$body-height: var(--mc--type--body--height);

$label-size: var(--mc--type--label--size);
$label-height: var(--mc--type--label--height);

$heading-1-size: var(--mc--type--heading-1--size);
$heading-1-height: var(--mc--type--heading-1--height);

$heading-2-size: var(--mc--type--heading-2--size);
$heading-2-height: var(--mc--type--heading-2--height);

$heading-3-size: var(--mc--type--heading-3--size);
$heading-3-height: var(--mc--type--heading-3--height);

$heading-4-size: var(--mc--type--heading-4--size);
$heading-4-height: var(--mc--type--heading-4--height);

$heading-5-size: var(--mc--type--heading-5--size);
$heading-5-height: var(--mc--type--heading-5--height);

$eyebrow-size: var(--mc--type--eyebrow--size);
$eyebrow-height: var(--mc--type--eyebrow--height);

$title-1-size: var(--mc--type--title-1--size);
$title-1-height: var(--mc--type--title-1--height);

$title-2-size: var(--mc--type--title-2--size);
$title-2-height: var(--mc--type--title-2--height);

$subtitle-1-size: var(--mc--type--subtitle-1--size);
$subtitle-1-height: var(--mc--type--subtitle-1--height);

$subtitle-2-size: var(--mc--type--subtitle-2--size);
$subtitle-2-height: var(--mc--type--subtitle-2--height);

$display-1-size: var(--mc--type--display-1--size);
$display-1-height: var(--mc--type--display-1--height);

$display-2-size: var(--mc--type--display-2--size);
$display-2-height: var(--mc--type--display-2--height);

$ui-sm-size: var(--mc--type--ui-s--size);
$ui-sm-height: var(--mc--type--ui-s--height);

$ui-md-size: var(--mc--type--ui-m--size);
$ui-md-height: var(--mc--type--ui-m--height);

$ui-lg-size: var(--mc--type--ui-l--size);
$ui-lg-height: var(--mc--type--ui-l--height);

$ui-xl-size: var(--mc--type--ui-xl--size);
$ui-xl-height: var(--mc--type--ui-xl--height);

// Composite Tokens

@mixin body {
  font-family: $font-body;
  font-size: $body-size;
  line-height: $body-height;
  font-weight: $weight-body;
  color: colour.$text-medium;
}

@mixin label {
  font-family: $font-display;
  font-size: $label-size;
  line-height: $label-height;
  font-weight: $weight-body;
  color: colour.$text-dim;
}

@mixin heading-1 {
  font-family: $font-display;
  font-size: $heading-1-size;
  line-height: $heading-1-height;
  font-weight: $weight-display-1;
  color: colour.$text;
}

@mixin heading-2 {
  font-family: $font-display;
  font-size: $heading-2-size;
  line-height: $heading-2-height;
  font-weight: $weight-display-1;
  color: colour.$text;
}

@mixin heading-3 {
  font-family: $font-display;
  font-size: $heading-3-size;
  line-height: $heading-3-height;
  font-weight: $weight-display-1;
  color: colour.$text;
}

@mixin heading-4 {
  font-family: $font-display;
  font-size: $heading-4-size;
  line-height: $heading-4-height;
  font-weight: $weight-display-1;
  color: colour.$text;
}

@mixin heading-5 {
  font-family: $font-display;
  font-size: $heading-5-size;
  line-height: $heading-5-height;
  font-weight: $weight-display-1;
  text-transform: uppercase;
  color: colour.$text;
}

@mixin eyebrow {
  font-family: $font-display;
  font-size: $eyebrow-size;
  line-height: $eyebrow-height;
  font-weight: $weight-display-2;
  text-transform: uppercase;
  color: colour.$text-medium;
}

@mixin title-1 {
  font-family: $font-display;
  font-size: $title-1-size;
  line-height: $title-1-height;
  font-weight: $weight-display-1;
  color: colour.$text;
}

@mixin title-2 {
  font-family: $font-display;
  font-size: $title-2-size;
  line-height: $title-2-height;
  font-weight: $weight-display-1;
  color: colour.$text;
}

@mixin subtitle-1 {
  font-family: $font-display;
  font-size: $subtitle-1-size;
  line-height: $subtitle-1-height;
  font-weight: $weight-display-2;
  color: colour.$text-medium;
}

@mixin subtitle-2 {
  font-family: $font-display;
  font-size: $subtitle-2-size;
  line-height: $subtitle-2-height;
  font-weight: $weight-display-2;
  color: colour.$text-medium;
}

@mixin display-1 {
  font-family: $font-display;
  font-size: $display-1-size;
  line-height: $display-1-height;
  font-weight: $weight-display-1;
  text-transform: uppercase;
  color: colour.$text;
}

@mixin display-2 {
  font-family: $font-display;
  font-size: $display-2-size;
  line-height: $display-2-height;
  font-weight: $weight-display-1;
  text-transform: uppercase;
  color: colour.$text;
}

@mixin ui-sm {
  font-family: $font-display;
  font-size: $ui-sm-size;
  line-height: $ui-sm-height;
}

@mixin ui-md {
  font-family: $font-display;
  font-size: $ui-md-size;
  line-height: $ui-md-height;
}

@mixin ui-lg {
  font-family: $font-display;
  font-size: $ui-lg-size;
  line-height: $ui-lg-height;
}

@mixin ui-xl {
  font-family: $font-display;
  font-size: $ui-xl-size;
  line-height: $ui-xl-height;
}
