@use "styles/abstract/spacing";
@use "styles/abstract/type";
@use "styles/abstract/layout";
@use "styles/abstract/border";

.featured-projects {
  display: flex;
  flex-direction: column;

  &__carousel-controls-wrapper {
    display: grid;
    margin-bottom: spacing.$base-400;

    @include layout.media-breakpoint(lg) {
      grid-template-columns: 1fr 1fr;
      column-gap: spacing.$base-600;
    }
  }

  &__carousel-controls {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    @include layout.media-breakpoint(lg) {
      grid-column: 2;
    }
  }

  &__carousel-controls &__carousel-control-item {
    &:first-child {
      justify-self: start;

      .button {
        margin-left: calc(-1 * spacing.$base-400);
      }
    }

    &:nth-child(2) {
      justify-self: center;
    }

    &:last-child {
      justify-self: end;

      .button {
        margin-right: calc(-1 * spacing.$base-400);
      }
    }
  }

  &__carousel-slides {
    column-gap: spacing.$base-800;

    @include layout.media-breakpoint(lg) {
      @include border.border(100, $top: true, $bottom: true);
    }
  }

  &__slide-item {
    height: 100%;
    padding-left: border.$width;
    padding-right: border.$width;

    &.carousel__slide-item--next {
      transform: scale(
        clamp(0, calc(0.75 + (var(--scroll-between-slides, 0)) / 2), 1)
      );
    }

    &.carousel__slide-item--previous {
      transform: scale(
        clamp(0, calc(0.75 + ((1 - var(--scroll-between-slides, 0)) / 2)), 1)
      );
    }

    .project-card__content {
      flex: 1;
    }

    .project-card__footer {
      flex: 1;
      align-items: end;
    }

    @include layout.media-breakpoint(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: spacing.$base-600;

      .project-card__cover {
        margin: 0;
      }

      .project-card__content {
        padding: spacing.$base-500 0;
      }
    }
  }
}
