body {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.above-the-fold-spacer {
  min-height: 100vh;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
}

.header {
  grid-column-start: 1;
  grid-row-start: 1;
}

.hero {
  grid-column-start: 1;
  grid-row-start: 2;
}
