@use "styles/abstract/spacing";
@use "styles/abstract/layout";

.home-section-header {
  display: flex;
  flex-direction: column;
  row-gap: spacing.$base-600;
  margin-bottom: spacing.$base-800;

  @include layout.media-breakpoint(md) {
    row-gap: spacing.$base-700;
  }

  &__title {
    display: grid;
    grid-template-columns: 1fr 1fr;

    :where(& *:last-child) {
      text-align: end;
    }
  }

  &__subtitle {
    max-width: layout.$width-content;
    text-align: justify;
    text-transform: lowercase;
  }
}
