@use "styles/abstract/spacing";
@use "styles/abstract/colour";
@use "styles/abstract/type";
@use "styles/abstract/layout";
@use "styles/abstract/border";
@use "styles/abstract/util";

$mobile-menu-breakpoint: md;

.header {
  position: sticky;
  top: 0;
  background: colour.$surface-100;
  padding-right: 0;
  @include border.border(100, $bottom: true);

  &__skip-link {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 spacing.$base-600;
    outline: 0;
    color: colour.$secondary-surface-contrast;
    @include type.ui-md;
    font-weight: type.$weight-medium;

    &:visited {
      color: colour.$secondary-surface-contrast;
    }

    &:not(:focus-visible) {
      @include util.visually-hidden;
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: spacing.$base-300 spacing.$base-400;
      background-color: colour.$secondary-surface;
      border-radius: border.$radius-md;
      @include border.border(secondary, focus, $surface: true);
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: spacing.$base-400;
    align-items: center;
  }

  &__brand {
    flex-basis: 100%;
  }

  &__homepage-link {
    position: relative;
    display: inline-flex;
    padding: spacing.$base-500 0 spacing.$base-500 0;
    outline: 0;

    &::after {
      content: "";
      position: absolute;
      top: spacing.$base-400;
      bottom: spacing.$base-400;
      left: calc(-1 * spacing.$base-300);
      right: calc(-1 * spacing.$base-300);
      border-radius: border.$radius-md;
    }

    &:focus-visible::after {
      @include border.outline(500, focus);
    }
  }

  /** Visually hide logo when skip link is focused */
  &:has(#{&}__skip-link:focus-visible) #{&}__homepage-link {
    opacity: 0;
  }

  &__logo {
    height: spacing.$base-600;
    width: auto;

    &.logo--lettermark {
      display: block;
    }

    &:not(.logo--lettermark) {
      display: none;
    }

    @include layout.media-breakpoint(md) {
      &.logo--lettermark {
        display: none;
      }

      &:not(.logo--lettermark) {
        display: block;
      }
    }
  }

  &__nav-menu {
    align-self: stretch;
    display: none;

    @include layout.media-breakpoint($mobile-menu-breakpoint) {
      display: flex;
    }

    .nav-menu__list {
      align-items: stretch;
      column-gap: spacing.$base-400;
      height: 100%;
    }

    .nav-menu__item {
      display: flex;
      align-items: stretch;
    }

    .nav-menu__link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: spacing.$base-400 spacing.$base-500;
      color: colour.$text-medium;
      text-transform: lowercase;
      text-decoration: none;
      outline: 0;
      @include type.ui-md;

      &--current {
        color: colour.$text;
        font-weight: type.$weight-strong;
      }

      &:hover,
      &:visited:hover {
        color: colour.$text-secondary;
        text-decoration: underline;
      }

      &:visited {
        color: colour.$text-medium;
      }

      &::after {
        content: "";
        position: absolute;
        top: spacing.$base-400;
        bottom: spacing.$base-400;
        left: 0;
        right: 0;
        border-radius: border.$radius-md;
      }

      &:focus-visible::after {
        @include border.outline(500, focus);
      }
    }
  }

  &__menu-button {
    position: relative;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 spacing.$root-padding;
    border-left: thin colour.$border-100 solid;
    outline: 0;

    @include layout.media-breakpoint(sm) {
      padding: 0 spacing.$base-600;
    }

    &:hover {
      background-color: colour.$surface-400;
    }

    &::after {
      content: "";
      position: absolute;
      top: spacing.$base-300;
      bottom: spacing.$base-300;
      left: spacing.$base-300;
      right: spacing.$base-300;
      border-radius: border.$radius-md;
    }

    &:focus-visible::after {
      @include border.outline(500, focus);
    }
  }

  &__menu-button#{&}__menu-button--settings {
    display: none;

    @include layout.media-breakpoint($mobile-menu-breakpoint) {
      display: flex;
    }
  }

  &__menu-button:not(#{&}__menu-button--settings) {
    display: flex;

    @include layout.media-breakpoint($mobile-menu-breakpoint) {
      display: none;
    }
  }
}
