@use "styles/abstract/spacing";
@use "styles/abstract/colour";
@use "styles/abstract/type";
@use "styles/abstract/layout";
@use "styles/abstract/border";

.home-nav {
  &__menu {
    align-self: start;
    position: sticky;
    top: calc(50% + layout.$header-height);
    display: none;
    transform: translateY(-100%);
    padding: spacing.$base-500 0 spacing.$base-500 0;

    .nav-menu__link {
      position: relative;
      @include type.ui-lg;
      color: colour.$text-medium;
      text-decoration: none;
      text-transform: lowercase;
      outline: 0;

      &:hover {
        color: colour.$text-secondary;
        text-decoration: underline;
      }

      &:focus-visible::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: border.$radius-sm;
        @include border.outline(500, focus, $offset: spacing.$base-200);
      }

      &--current {
        font-weight: type.$weight-strong;
      }
    }

    @include layout.media-breakpoint(lg) {
      display: flex;
    }
  }
}
