---
import "@/styles/main.scss";

import { Font } from "astro:assets";
import Navbar from "@/components/navigation/Navbar";
import Header from "@/components/layout/Header";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>Max Caplan - Portfolio | Developer && Designer</title>
    <Font cssVariable="--mc--type--font--display" />
    <Font cssVariable="--mc--type--font--body" />
  </head>

  <body class="theme-system">
    <Header />

    <main id="main-content">
      <slot />
    </main>
  </body>
</html>
