---
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>Max Caplan - Portfolio | Developer && Designer</title>
    <Font cssVariable="--type--font--display" />
    <Font cssVariable="--type--font--body" />
  </head>
  <body>
    <slot />
  </body>
</html>
