@use "styles/abstract/spacing";
@use "styles/abstract/layout";
@use "styles/abstract/util";

@use "normalize";
@use "theme";
@use "typography";

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: layout.$header-height;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: none;
  background-color: unset;
  color: currentColor;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.visually-hidden {
  @include util.visually-hidden;
}

.mc-icon {
  width: spacing.$base-600;
  height: spacing.$base-600;
  fill: currentColor;
}
