@use "styles/abstract/spacing";

@use "normalize";
@use "theme";
@use "typography";
@use "helpers";

button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: none;
  background-color: unset;
  color: currentColor;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.mc-icon {
  width: spacing.$base-600;
  height: spacing.$base-600;
  fill: currentColor;
}
